<li>
  <%= event.created_at.strftime('%H:%M') %>
  <%= link_to event.initiator.name, 'javascript:void(0)', :target => '_blank' %>
  <%= show_event_action(event.action) %>
  <%= link_to target_name(event.target), target_url(event.target), :target => '_blank' %>
  <br/>
  <% render partial: 'event_body', locals: {event: event} %>
</li>