<% events_group(@events).each do |key, events| %>
  <% if events.any? %>
    <div>
      <% day, pro = key %>

      <div>
        <%= day %>
        <%= link_to pro.name, projectable_url(pro), :target => '_blank' %>
        <ul>
          <% events.each do |event| %>
            <% cache(event) do %>
              <%= render partial: 'events/event', locals: {event: event} %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>